input, textarea{
    outline: none;
}
//  甜叫，底部样式
.swal-footer{
    text-align: center;
}
//  文字选中样式
*::selection {
    background: #aad3fe;
    color: #fff;
}
//  渐变动画
.fade-enter-active {
    transition: opacity 500ms 500ms ease;
    opacity: 1;
  }
  
  .fade-leave-active {
    transition: opacity 500ms ease;
    opacity: 1;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }